:root {
  --primary-color: #313e4b;
  --secondary-color: #5686e1;
  --tertiary-color: #cbb682;
  --tertiary-color-lighter: color-mix(in srgb, var(--tertiary-color), #fff 15%);
  ;
  --text-color: #FAF6F6;
  --min-header-height: 55px;
}

:after,
:before {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
  margin: 0;
}

.login {
  background-color: var(--tertiary-color);
  margin: 8% auto 0 auto;
  text-align: center;
  width: 280px;
  padding: 15px;
  opacity: 0.9;
}

.animated {
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@keyframes bounceInLeft {
  0% {
    opacity: 0;
    transform: translateX(-2000px);
  }

  60% {
    opacity: 1;
    transform: translateX(30px);
  }

  80% {
    transform: translateX(-10px);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes fadeAnimation {
  0% {
    opacity: 0;
    top: 120%;
  }

  100% {
    opacity: 1;
    top: 100%;
  }
}

.bounceInLeft {
  -webkit-animation-name: bounceInLeft;
  animation-name: bounceInLeft;
}

a.logo {
  text-decoration: none;
}

.logo>h2 {
  margin: 0;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 2.6em;
  color: #fff;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.login .logo {
  margin-bottom: 15px;
}

.login .logo>img {
  width: 250px;
}

.login-title {
  text-align: center;
  color: #ffffff;
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 24px;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
}

.login-form>input[type="text"],
.login-form>input[type="password"],
.login-form>input[type="email"] {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  color: #555;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  box-sizing: border-box;
}

.login-form>.form-text {
  margin-bottom: 15px;
}

.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 4px;
}

.btn[disabled] {
  cursor: not-allowed;
  box-shadow: none;
  opacity: .65;
}

.login-form>.btn-submit {
  width: 100%;
  margin-bottom: 10px;
  border: none;
  color: var(--primary-color);
  background-color: #F48319;
  font-weight: 700;
  font-size: 18px;
}

.login-form>.btn-submit:hover {
  color: #FFF;
}

.login-form>.checkbox {
  position: relative;
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: left;
}

.login-form>.checkbox>label {
  color: #FFF;
}

.header {
  position: relative;
  box-sizing: border-box;
  min-height: var(--min-header-height);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

.sidebar-header {
  padding: 5px 0;
  user-select: none;
  background-color: var(--tertiary-color-lighter);
}

.sidebar-header .logo {
  display: flex;
  height: 50px;
  min-width: 150px;
}

.sidebar-header .logo>img {
  width: 150px;
}

.header .logo {
  display: inline-block;
  height: 50px;
  min-width: 150px;
  margin-left: 20px;
}

.header .logo>img {
  width: 150px;
}

.navbar {
  padding: 5px 0;
  background-color: var(--tertiary-color-lighter);
}

.navbar::before,
.navbar::after,
.nav::after,
.nav::before {
  display: table;
  content: " ";
}

.navbar::after,
.nav::after {
  clear: both;
}

.navbar-right {
  margin-right: 0;
  float: right;
}

.nav {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

.navbar-right .nav {
  float: left;
}

.navbar-right .nav>li {
  position: relative;
  display: block;
  float: left;
}

.nav>li>a {
  position: relative;
  display: block;
  padding: 10px 9px;
}

.dropdown-menu {
  position: absolute;
  float: left;
  min-width: 160px;
  font-size: 14px;
  text-align: left;
  list-style: none;
  display: none;
  background-color: #fff;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, .15);
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
  z-index: 100;
}

.dropdown-menu:after {
  border-color: rgba(255, 255, 255, 0) rgba(255, 255, 255, 0) var(--primary-color);
  border-image: none;
  border-style: solid;
  border-width: 10px;
  bottom: 100%;
  content: " ";
  height: 0;
  margin-left: -10px;
  pointer-events: none;
  position: absolute;
  right: 10px;
  width: 0;
}

.navbar-right .dropdown-menu {
  right: 0;
  left: auto;
}

.open>.dropdown-menu {
  display: block;
  -moz-animation-name: fadeAnimation;
  animation-name: fadeAnimation;
  -moz-animation-duration: .7s;
  -webkit-animation-duration: .7s;
  animation-duration: .7s;
  -moz-animation-iteration-count: 1;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  -moz-animation-timing-function: ease;
  -webkit-animation-timing-function: ease;
  animation-timing-function: ease;
  -moz-animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.nav>.notifications>.dropdown-menu {
  width: 275px;
  padding: 0;
  margin: 0;
  border: 1px;
}

.nav>.user>.dropdown-menu {
  font-size: 13px;
  padding: 0;
  border-radius: 4px;
  border: none;
}

.dropdown-menu>li {
  border-bottom: 1px solid #F5F5F5;
}

.dropdown-messages {
  min-width: 320px;
}

li.dropdown-title {
  padding: 16px;
  background: #687884;
  font-size: 14px;
  color: #ffffff;
}

li.dropdown-footer {
  padding: 16px;
  background: #687884;
  border-bottom: 1px solid #ccc;
  color: #ffffff;
}

.dropdown-menu>li:last-child {
  border-bottom: none;
}

.dropdown-menu>li>a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: 400;
  line-height: 1.42857143;
  color: #333;
  white-space: nowrap;
  font-size: 14px;

}

li>a {
  text-decoration: none;
}

.dropdown-menu>li>a>.fa {
  margin-right: 10px;
}

.dropdown-menu>li>.notification-empty {
  height: 50px;
  text-align: center;
}

.padding-user {
  padding-top: 8px !important;
}

i.fa-custom {
  color: var(--secondary-color);
}

.navbar-right i.fa-bell {
  padding-top: 7px;
  font-size: 17px;
  width: 1.28571429em;
  text-align: center;
}

.user i.fa-user {
  font-size: xx-large;
  width: 35px;
  height: 35px;
  text-align: center;
  float: left;
}

i.fa-sidebar-icon {
  display: inline-block;
  line-height: 20px;
  height: 20px;
  width: 20px;
  text-align: center;
  font-size: 14px;
}

.profile {
  color: var(--primary-color);
  padding: 5px 0 5px 45px;
}

.caret {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 2px;
  vertical-align: middle;
  border-top: 4px dashed;
  border-top: 4px solid\9;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
}

.padding-user .profile span {
  margin-left: 5px;
}

.profile span i {
  margin-top: 0 !important;
}

.nav>.user>.dropdown-menu>li:first-child {
  margin-top: 4px;
}


.nav>.user>.dropdown-menu>li.user-footer {
  padding-bottom: 5px;
}

.dropdown-menu .divider {
  height: 1px;
  margin: 4px 0;
  overflow: hidden;
  background-color: #e5e5e5;
}

.content-container {
  display: flex;
  flex-direction: row;
  min-height: 100vh;
}

.content {
  padding: 25px;
  min-height: 100vh;
}

.left-side {
  min-width: 250px;
  background-color: var(--primary-color);
}

.right-side {
  flex-grow: 1;
  background-color: var(--tertiary-color);
}

.sidebar {
  display: block;
  float: left;
  margin-bottom: 5px;
  margin-top: 10px;
  width: 100%;
}

.left-side>.block-empty {
  min-height: var(--min-header-height);
}

#menu .nav a {
  display: block;
  color: #C1CBCC;
  position: relative;
  font-size: 13px;
  line-height: 20px;
  padding: 11px 14px;
  text-decoration: none;
  transition: all .2s;
}

#menu .nav a>i {
  margin-right: 10px;
  font-size: 17px;
}

#menu ul.nav>li>a {
  text-align: left;
  font-size: 15px;
}

#menu li>a:hover {
  color: #fff;
  border-left: 4px solid var(--secondary-color);
  background-color: #465869;
}

#menu li>a.active {
  color: #fff;
  border-left: 4px solid var(--secondary-color);
  background-color: #465869;
}

li>a.active>.arrow {
  position: absolute;
  right: 0;
  top: 8px;
  background: none;
  width: 0;
  height: 0;
  border-top: 12px solid transparent;
  border-bottom: 12px solid transparent;
  border-right: 12px solid #f7f7f7;
}

.pull-right {
  float: right !important;
}

.fa.pull-right {
  margin-left: .3em;
}

.collapse {
  display: none;
}

.sub-menu {
  list-style: none;
  padding: 0;
  margin: 0;
}

#menu .menu-dropdown>ul {
  background: #2a2e36;
}

#menu li.active>a {
  color: #fff;
  border-left: 4px solid #33a4d8;
  background-color: #465869;
}

#menu .menu-dropdown>ul>li>a {
  padding-left: 20px;
}

.inner-content {
  border: 1px thin var(--primary-color);
  box-shadow: 0px -4px 2px 0px var(--primary-color);
  background-color: #FFF;
  margin-top: 5px;
  padding: 10px 15px;
  min-height: inherit;
  user-select: none;
}

.breadcrumb {
  list-style: none;
  padding: 0;
}

.breadcrumb>li {
  display: inline-block;
}

.content-header {
  margin-bottom: 30px;
}

.content-header>.breadcrumb {
  box-shadow: none;
  border: 0;
  border-radius: 0;
  margin: 0 0 10px 0;
}

.content-header>.breadcrumb>li>a,
.content-header>.breadcrumb>li {
  color: #111;
  text-decoration: none;
}

.content-header>.breadcrumb>li>a,
.content-header>.breadcrumb>li>span {
  font-size: 14px;
  line-height: 20px;
}

.content-header>.breadcrumb>li+li:before {
  padding: 0;
  content: '\00BB';
  font-size: 16px;
  color: #000;
  margin: 0 3px;
}

.breadcrumb>li:last-child span {
  font-weight: bold;
}

.content-header>span.title {
  margin: 10px 5px;
  font-size: 22px;
  color: var(--primary-color);
  font-weight: bold;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

thead {
  background-color: #687884;
}

table.custom-table {
  margin: 10px 0;
}

table.custom-table td,
table.custom-table th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

table.custom-table tr:nth-child(even) {
  background-color: #dddddd;
}

table.custom-table tr:nth-child(even)>td {
  border: 1px solid #ffffff;
}

table.calendar-table {
  margin: 10px 0;
  border: 1px solid #000;
}

.custom-table th {
  color: var(--text-color);
}

.custom-table.table-exercise th:first-child {
  width: 35%;
}

.custom-table th>.flex {
  display: flex;
  justify-content: space-between;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
  display: none;
}

.common-options {
  user-select: none;
  margin-right: 5px;
  display: flex;
  align-items: center;
  justify-content: flex-end;

}

.common-options .pagination-buttons {
  flex-grow: 1;
  text-align: center;
}

.common-options .pagination-buttons button {
  font-size: 15px;
  margin: 0 5px;
}

.pagination-previous-buttons,
.pagination-next-buttons {
  display: inline-flex;
}

.pagination-previous-buttons>button {
  margin-right: 5px;
}

.pagination-next-buttons>button {
  margin-right: 5px;
}

.common-options .pagination-buttons .current-page {
  padding: 0 15px;
}

.common-options .pagination-goto {
  text-align: right;
  margin-right: 10px;
}

.common-options .pagination-goto>input {
  width: 40px;
}

.common-options .page-size {
  text-align: left;
}

.page-size select {
  padding: 5px 2px;
}

.common-options .search-bar {
  flex-grow: 1;
  text-align: center;
}

.common-options .button-create {
  text-align: right;
}

.button-create:hover button {
  background-color: var(--secondary-color);
  color: var(--text-color);
}

.search-bar input {
  padding: 5px;
  width: 20vw;
}

.footer {
  position: relative;
  box-sizing: border-box;
  min-height: 30px;
  box-shadow: 0px -2px 4px rgba(0, 0, 0, 0.2);
  background-color: var(--tertiary-color-lighter);
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer span {
  font-size: 11px;
}

.ui-corner-all {
  border-radius: 6px;
}

.ui-dialog {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.ui-dialog.ui-overlay {
  background: rgba(0, 0, 0, 0.6);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.dialog-container {
  border: 1px solid #888;
  box-shadow: rgba(0, 0, 0, 0.5) 1px 1px 6px;
  background-color: rgba(209, 209, 209);
}

.dialog-header {
  border-bottom: 1px solid var(--primary-color);
  background: var(--primary-color);
  color: #fff;
  font-weight: bold;
}

.dialog-title-bar {
  padding: .4em 1em;
  position: relative;
}

.dialog-title-bar:before,
.dialog-title-bar:after {
  content: "";
  display: table;
  border-collapse: collapse;
}

.dialog-title-bar:after {
  clear: both;
}

.dialog-title {
  float: left;
  margin: .1em 0;
  white-space: nowrap;
  width: 90%;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 0.9em;
}

.dialog-title-bar>.dialog-title-bar-close {
  position: absolute;
  right: .3em;
  top: 50%;
  width: 20px;
  margin: -10px 0 0 0;
  padding: 1px;
  height: 20px;
}

.dialog-title-bar-close,
.button-close {
  font-size: 1em;
  cursor: pointer;
}

.dialog-content {
  position: relative;
  border: 0;
  padding: 1em 1.5em;
  background: none;
  overflow: auto;
}

.dialog-fields {
  display: flex;
}

.dialog-fields>.dialog-field {
  margin-bottom: 10px;
  font-size: 0.9em;
}

table.dialog-field tr {
  background-color: unset;
}

table.dialog-field td {
  border: 0;
  padding: 5px 0;
}

table.dialog-field td:first-child {
  padding-right: 20px;
}

.dialog-field input {
  min-height: 25px;
  display: inline-block;
  padding: 0 5px;
}

.dialog-field.textarea-field label {
  display: flex;
  margin-right: 10px;
}

.dialog-field>textarea {
  display: inline-block;
  margin-top: 5px;
  min-height: 100px;
  min-width: -webkit-fill-available;
  padding: 5px;
}

.dialog-button-tray {
  margin-top: 15px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.any-button {
  border: 0px;
  padding: 7px 10px;
  font-weight: bold;
  font-size: 13px;
  line-height: 1;
  -moz-border-radius: 5px;
  -khtml-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #222;
  position: relative;
  cursor: pointer;
}

.any-button .icon-create {
  margin-right: 5px;
}

.any-button.button-submit {
  background-color: #F48319;
}

.button-refresh {
  padding: 0;
  border: 0;
  background-color: unset;
  cursor: pointer;
}

.textarea-field .button-refresh {
  margin-left: 10px;
}

.dialog-field input[type=radio] {
  margin: 0 5px;
}

td.radio-gender {
  display: flex;
  justify-content: flex-start;
}

td.radio-gender>label,
.radio-field>* {
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.status-active {
  color: green;
}

.status-inactive,
.status-lock,
.status-error {
  color: red;
}

.dialog-loading,
.page-loading {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 11;
  user-select: none;
}

.page-loading {
  background-color: var(--primary-color);
  color: var(--tertiary-color);
}

.page-loading img {
  margin-bottom: 10px;
}

.loading-table i.fa-spinner {
  font-size: 70px;
  margin-bottom: 20px;
}

.page-loading i.fa-spinner {
  font-size: x-large;
}

.page-loading span {
  margin-left: 10px;
}

.dialog-container.on-load>.dialog-header,
.dialog-container.on-load>.dialog-content {
  opacity: 0.3;
}

.dialog-content>.content-delete,
.dialog-content>.content-status {
  min-width: 250px;
  min-height: 100px;
  display: flex;
  flex-direction: column;
}

.loading-table {
  position: relative;
}

.loading-table table tr {
  height: 35px;
}

.loading-table table>thead>tr>th:first-child {
  width: 10%;
}

.loading-table table>thead>tr>th:last-child {
  width: 20%;
}

.loading-overlay {
  display: flex;
  align-items: center;
}

.loading-table .loading-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  flex-direction: column;
}

.table-actions {
  display: flex;
  align-items: center;
}

.table-actions span {
  width: 100%;
  text-align: center;
  cursor: pointer;
}

.table-actions span:hover {
  color: var(--secondary-color);
}

.table-actions span:not(:last-child) {
  border-right: 1px solid var(--primary-color);
}

.cursor {
  cursor: pointer;
}

.data-view {
  min-height: 500px;
  margin-bottom: 30px;
}

table.custom-table tbody>tr:hover {
  background-color: var(--tertiary-color);
}

.list-content {
  margin-top: 5px;
  margin-bottom: 30px;
}

hr.view-divider {
  margin: 0 -15px;
  border: none;
  padding: 15px;
  background: #eee;
  background: -moz-linear-gradient(top, #f3ece4 0%, #fff 100%);
  background: -webkit-linear-gradient(top, #f3ece4 0%, #fff 100%);
  background: linear-gradient(to bottom, #f3ece4 0%, #fff 100%);
}

.sep-container {
  position: relative;
  background-image: url(../public/layout/rule.png);
  background-repeat: repeat-x;
  background-position: center;
}

.sep-container button.button-close {
  float: right;
  margin-right: 20px;
}

.button-remarquable {
  background-color: #F48319;
}

.sep-container:after {
  display: table;
  content: "";
  clear: both;
}

.sep-text {
  margin-left: 20px;
  padding-left: 5px;
  padding-right: 5px;
  display: inline-block;
  text-transform: uppercase;
}

.data-view .sep-container .sep-text {
  color: #999999;
  background-color: white;
  font-size: 14px;
}

.dialog-fields .sep-container .sep-text {
  color: #000;
  background-color: #d1d1d1;
}

.profile-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-container .dialog-field td:first-child {
  padding-right: 10px;
}

.profile-avatar {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  background: var(--secondary-color);
  font-size: 50px;
  color: #fff;
  text-align: center;
  line-height: 150px;
  margin: 10px 0;
  margin-right: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.common-tabs {
  position: relative;
  margin: 0 10px;
}

.common-tab {
  position: relative;
  display: block;
  height: 34px;
  margin: 0 5px 5px 0;
  padding: 0 1px 0 0;
  float: left;
  box-sizing: border-box;
  border: 1px solid #ecebe9;
  text-align: center;
  -webkit-border-top-left-radius: 10px;
  -webkit-border-top-right-radius: 10px;
  -moz-border-radius-topleft: 10px;
  -moz-border-radius-topright: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background: #f9f8f7;
}

.common-tabs:after {
  display: table;
  content: "";
  clear: both;
}

.common-tab-selected,
.common-tab-selected:hover {
  border-color: #9f9a8f;
  background: #fff;
}

.common-tab-container {
  float: left;
  display: block;
  padding: 6px;
  color: #9f9a8f;
  cursor: pointer;
}

.common-tab-container:hover {
  color: #000;
}

.common-tab-selected .common-tab-container {
  font-weight: bold;
  color: var(--primary-color);
}

.common-tab-name {
  /* max-width: 120px; */
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: block;
  float: left;
  height: 20px;
  line-height: 20px;
}

.common-plain {
  width: 100%;
  margin-bottom: 15px;
  margin-top: 20px;
}

.dialog-user-avatar {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 10px;
}

.dialog-user-avatar .image-container {
  margin-top: 15px;
  margin-bottom: 5px;
  width: 100px;
  height: 100px;
  border: 1px solid #999;
  background-color: #fff;
}

.avatar {
  width: 100%;
  height: 100%;
}

.dialog-user-avatar #file-input,
.certificate #file-input {
  display: none;
}

.dialog-user-avatar #file-input-label,
.certificate #file-input-label {
  background-color: whitesmoke;
  display: block;
  width: fit-content;
}

.strip {
  position: relative;
  background-image: url(../public/layout/stripe.png);
  background-repeat: repeat-y;
  background-position: center;
}

.strip:after {
  display: table;
  content: "";
  clear: both;
}

.normal-file-input #file-input-label {
  display: none;
}

.flex-column {
  flex-direction: column;
}

.iframe-video {
  margin: 5px 0 10px;
}

.dialog-steps {
  box-shadow: none;
  border: 0;
  border-radius: 0;
  margin: 0;
  color: gray;
}

.dialog-steps li.active {
  color: #000;
}

.dialog-steps li+li:before {
  padding: 0;
  content: '\00BB';
  color: #000;
  margin: 0 5px;
}

.progress-bar-content {
  display: flex;
  margin-bottom: 10px;
}

.progress-bar-container {
  width: 100%;
  background-color: #f0f0f0;
  border-radius: 4px;
  overflow: hidden;
  margin-right: 5px;
}

.progress-bar {
  height: 100%;
  background-color: #4caf50;
}

.certificate img {
  width: 200px;
  height: 150px;
}